.advantages {
  min-width: 320px;
  margin: 0 auto;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: 768px){
    display: flex;
    flex-wrap: wrap;
  }
}

.advantages__item {
  margin: 0;
  padding: 26px;

  @media (min-width: 768px) {
    width: calc(100% / 3);
    align-items: center;
  }

  &--background {
    background-color: #81B3D2;
    margin: 0;
    padding: 33px 22px 40px 16px;

    @media (min-width: 768px) {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 100%;
      align-items: stretch;
    }
  }

  &--tonality {
    background-color: #eeeeee;
  }

  &--inner {
    margin: 0;
    padding: 23px 20px 0 18px;
  }

  &--padding {
    padding: 39px 16px 35px 15px;
  }
}

.advantages__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;

  &--accent {
    color: #ffffff;
  }
}

.advantages__number {
  font-weight: 400;
  font-size: 21px;
  line-height: 15px;

  &--accent {
    color: #ffffff;
  }

  &--accent-bold {
    font-weight: 700;
  }
}

.advantages__description {
  font-weight: 400;
  text-transform: uppercase;

  &--accent {
    color: #ffffff;
  }
}
