.catalog {
  @media (min-width: 768px) {
    padding: 45px 60px 40px;
  }

  @media (min-width: 1200px) {
    padding: 60px 0 40px;
  }
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.catalog__card {
  margin: 0;
  padding: 24px 20px 25px 20px;
  list-style-type: none;
  border-top: 1px solid #E5E5E5;

  @media (min-width: 768px) {
    width: 50%;
    padding: 0;
    border: none;
  }

  @media (min-width: 1200px) {
    padding: 0;
    width: calc(100% / 3);
    position: relative;
  }

  &--full {
    @media (min-width: 768px) {
      width: 100%;
    }

    @media (min-width: 1200px) {
      width: 100%;
    }
  }
}

.catalog__card-title {
  margin-top: 15px;
  margin-bottom: 1px;
}

.catalog__image-wrapper {
  display: block;
  width: 100%;
}

.catalog__image {
  display: block;
  width: 100%;
}

.catalog__card-content {
  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 7px 20px 15px;
    background-color: #F2F2F2;
  }

  @media (min-width: 1200px) {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.3);
    mix-blend-mode: normal;
  }
}

.catalog__link {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;

  @media (min-width: 1200px) {
    display: block;
    color: #ffffff;
  }
}

.catalog__author {
  font-weight: 400;
}

.catalog__card-like {
  position: relative;
  margin-top: 16px;
  padding-left: 37px;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: #000000;

  @media (min-width: 1200px) {
    color: #ffffff;
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -4px;
    height: 21px;
    width: 23px;
    z-index: 2;
    background-image: url("../img/catalog-card-like-icon.svg");
    background-repeat: no-repeat;

    @media (min-width: 1200px) {
      background-image: url("../img/catalog-card-like-icon-white.svg");
    }
  }
}
