.page-container {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

@media (min-width: 768px) {
  .page-container {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .page-container {
    width: 100%;
    max-width: 1200px;
  }
}
