.page-preview {
  background-image: url("../../img/page-preview-background.jpg");
  background-repeat: no-repeat;
  background-color: rgba(129,179,210, 0.5);
  padding: 90px 19px 85px 19px;
  min-width: 282px;
  background-size: cover;
}

.page-preview__image--welcome {
  display: block;
  margin: 0 auto;
}
