.page-footer__tag {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
}

.copyright__text {
  font-weight: 400;
  text-transform: uppercase;
}
