.section-content {
  margin: 0;
  padding: 32px 20px 16px 18px;
  min-width: 320px;

  &--padding {
    padding: 38px 29px 32px 30px;
  }

  &--indent {
    padding: 36px 20px 28px 20px;
  }

  @media (min-width: 768px) {
    min-width: 640px;
  }

  @media (min-width: 1200px) {
    max-width: 1080px;
  }
}

.section-content__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;

  &--accent {
    font-weight: 700;
  }
}

.section-content__description {
  font-weight: 400;
  text-transform: uppercase;
}
