.section-content__title {
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;

  &--accent {
    font-weight: 700;
  }
}

.section-content__description {
  text-transform: uppercase;
}
