@use "./blocks/advantages.scss";
@use "./blocks/button.scss";
@use "./blocks/catalog.scss";
@use "./blocks/copyright.scss";
@use "./blocks/fonts.scss";
@use "./blocks/main-nav.scss";
@use "./blocks/modal-failure.scss";
@use "./blocks/modal-success.scss";
@use "./blocks/modal.scss";
@use "./blocks/page-body.scss";
@use "./blocks/page-container.scss";
@use "./blocks/page-footer.scss";
@use "./blocks/page-header.scss";
@use "./blocks/page-main.scss";
@use "./blocks/page-preview.scss";
@use "./blocks/review-form.scss";
@use "./blocks/section-content.scss";
@use "./blocks/social.scss";
@use "./blocks/visually-hidden.scss";
@use "./blocks/variable.scss";

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  background-color: #ffffff;
  margin: 0;
  min-width: 320px;
}

img {
  max-width: 100%;
  object-fit: cover;
}

